# Airtable
AIRTABLE_API_KEY=pat5z8y0ry76hICPR.3804e097afadcf2634900a311001be9c39b2531c98d3599a537930a51432e55d
AIRTABLE_BASE_ID=app3dfYnArFbZ6dpy

# Session — 32+ character random string
SESSION_SECRET=593aba266bef5f62c0913085f9c9a7ae8849e52c190223beb3382e4f67be4af9
# Email notifications (Resend — free tier: 3000 emails/month)
RESEND_API_KEY=re_4H5P2hjZ_76qdE8zkR5L2YDS2JqJ93i9g
ACCOUNTANT_EMAIL=accountant@woodwings.com

# App
NEXT_PUBLIC_APP_NAME=WoodWings
